@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        font-family: 'Roboto', sans-serif;
        color: #05111A;
    }

    .font-display {
        font-family: 'Geologica', sans-serif;
    }

    .table-cols div:nth-child(1) {
        @apply xl:w-[100px];
    }
    .table-cols div:nth-child(2) {
        @apply xl:w-[120px];
    }
    .table-cols div:nth-child(3) {
        @apply xl:w-[240px] truncate;
    }
    .table-cols div:nth-child(4) {
        @apply xl:w-[90px];
    }
    .table-cols div:nth-child(5) {
        @apply xl:w-[90px];
    }
    .table-cols div:nth-child(6) {
        @apply xl:w-[90px];
    }
    .table-cols div:nth-child(7) {
        @apply xl:w-[90px];
    }
    .table-cols div:nth-child(8) {
        @apply xl:w-[90px];
    }
    .table-cols div:nth-child(9) {
        @apply xl:w-[90px];
    }

    /*Info Items*/
    .info-item {
        @apply grid grid-cols-2;
    }

    .info-item dt {
        @apply font-medium text-sm py-2 px-4 border-r border-b border-green-200 -mb-px -mr-px cursor-default;
    }

    .info-item dd {
        @apply text-[15px] py-2 px-4 border-b border-green-200 -mb-px text-center cursor-default;
    }

    /*Route Items*/
    .route-item {
        @apply space-y-3 overflow-hidden pb-4 cursor-default;
    }

    .route-item:last-child {
        @apply pb-0;
    }

    .route-item:last-child .route-item__point:after {
        content: none;
    }

    .route-item__wrapper {
        @apply flex items-center gap-2.5;
    }

    .route-item__point {
        @apply w-3 h-3 rounded-full border-2 border-yellow-500;
    }

    .route-item__point:after {
        content: '';
        @apply w-[2px] h-32 bg-yellow-500 absolute left-[5px] top-4;
    }

    .route-item__label {
        @apply bg-gray-900 bg-opacity-40 text-white rounded inline-flex items-center gap-2 py-1 px-2 ml-[22px];
    }
}
